/* FONTS
   -------------------------------------------------- */
@font-face {font-family: 'Open Sans Bold'; src: url('../fonts/OpenSans-Bold.ttf');}
@font-face {font-family: 'Open Sans Bold Italic'; src: url('../fonts/OpenSans-BoldItalic.ttf');}
@font-face {font-family: 'Open Sans Extrabold'; src: url('../fonts/OpenSans-ExtraBold.ttf');}
@font-face {font-family: 'Open Sans Extrabold Italic'; src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');}
@font-face {font-family: 'Open Sans Italic'; src: url('../fonts/OpenSans-Italic.ttf');}
@font-face {font-family: 'Open Sans Light'; src: url('../fonts/OpenSans-Light.ttf');}
@font-face {font-family: 'Open Sans Light Italic'; src: url('../fonts/OpenSans-LightItalic.ttf');}
@font-face {font-family: 'Open Sans Regular'; src: url('../fonts/OpenSans-Regular.ttf');}
@font-face {font-family: 'Open Sans Semibold'; src: url('../fonts/OpenSans-Semibold.ttf');}
@font-face {font-family: 'Open Sans Semibold Italic'; src: url('../fonts/OpenSans-SemiboldItalic.ttf');}

/* GENERAL
   -------------------------------------------------- */
body {
	font-family: "Open Sans Regular", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
	text-rendering: optimizelegibility;
}

main {
	background: #f0f0f0;
}

article, figcaption, figure {
    display: block;
}

* {
    -webkit-touch-callout: none;
}

figure {
    margin: 0;
}


img {
    vertical-align: middle;
    border-style: none;
}

fieldset, img {
    border: 0;
}

::selection {
	color: #FFF;
	background: #aa4d93;
}

::-moz-selection {
	color: #FFF;
	background: #aa4d93;
}

/* INPUTS
   -------------------------------------------------- */
.form-control::-webkit-input-placeholder,
.form-control:-moz-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder {
	color: #999;
}

a:hover,
a:focus,
a:active,
a:visited,
a:link {
	text-decoration: none;
}

input,
textarea,
select
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 2px solid #FFF !important;
    border-bottom: 2px solid #E5E5E5 !important;
    padding: 4px 12px !important;
}

input,
textarea {
	color: #444 !important;
}

select {
	color: #999 !important;
}

select.selected {
	color: #444 !important;
}

.form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 2px solid #FFF !important;
	border-bottom: 2px solid #aa4d93 !important;
}

textarea {
	resize: none;
}

/* BUTTONS
   -------------------------------------------------- */
.btn-primary,
.btn-primary:disabled,
.btn-default,
.btn-default:disabled, {
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}

.btn-primary,
.btn-default {
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:disabled,
.btn-primary:disabled:focus,
.btn-primary:disabled:active,
.btn-default,
.btn-default:focus,
.btn-default:active,
.btn-default:disabled,
.btn-default:disabled:focus,
.btn-default:disabled:active {
    margin: 0px;
    border: none;
    padding: 10px;
    color: #FFF !important;
}

.btn-primary:disabled,
.btn-default:disabled {
	cursor: no-drop;
}

.btn-primary:hover,
.btn-default:hover {
	color: #FFF;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:disabled,
.btn-primary:disabled:focus,
.btn-primary:disabled:active {
    background: #aa4d93 !important;
    
}

.btn-default,
.btn-default:focus,
.btn-default:active,
.btn-default:disabled,
.btn-default:disabled:focus,
.btn-default:disabled:active {
    background: #9E9E9E !important;
}


/* HELPERS
   -------------------------------------------------- */
.margin-right-30 {
    margin-right: 30px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.padding-0-30 {
    padding: 0 30px 30px 30px !important;
}

.padding-0 {
    padding: 0 !important;
}

h3 {
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}

.max-height-600 {
    max-height: 600px;
}

.rem-box-shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* CAROUSEL
   -------------------------------------------------- */
.carousel-control {
    color: #FFF !important;
}

.carousel .carousel-inner img {
    width: 100%;
    object-fit: cover;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/* SEARCH
   -------------------------------------------------- */
#search-homepage .rem-form-search {
    position: absolute;
    top: -500px;
}

.rem-form-search {
    margin: 70px auto 40px auto;
    background: #FFF;
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    padding: 30px;
    display: block;
    width: 100%;
    -webkit-border-radius: 25px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 25px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 25px;
    border-bottom-left-radius: 5px;
}

.rem-form-search .nav-tabs {
    position: relative;
    top: -42px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #444;
    background-color: #eeece8;
}

@media (max-width: 991px)
{
    #search-homepage .rem-form-search {
        top: -450px;
    }
}

@media (max-width: 767px)
{
    #search-homepage .rem-form-search {
        top: 0px;
        position: relative;
    }
}

/* PROMOTE
   -------------------------------------------------- */
.rem-promote {
    color: #333;
    margin: 0px auto 30px auto;
}

.rem-promote-item,
.rem-promote-item-text {
    background: #FFF !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3) !important;
}

.rem-promote-item-title {
    background: #aa4d93;
    color: #FFF;
    font-size: 18px;
    font-family: "Open Sans Bold", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.rem-promote-item-text {
    font-size: 15px;
    margin: auto;
    padding: 20px;
    height: 105px;
}

@media (max-width: 1199px)
{
    .rem-promote-item-text {
        height: 125px;
    }
}

@media (max-width: 991px)
{
    .rem-promote-item-text {
        height: 165px;
    }
}

@media (max-width: 767px)
{
    .rem-promote-item,
    .rem-promote-item-text {
        background: none !important;
        box-shadow: none !important;
    }

    .rem-promote-item-text {
        font-size: 16px;
    }

    .rem-promote-item {
        margin-top: 30px;
    }
}

@media (max-width: 550px)
{
    .rem-promote-item-title {
        font-size: 16px;
    }

    .rem-promote-item-text {
        padding: 10px;
        font-size: 14px;
    }
}

/* FEATURE UNITS
   -------------------------------------------------- */
.rem-feature-unit {
    border-bottom: 2px solid #DCDCDC;
    border-radius: 5px;
    background: #FFF;
}

.rem-feature-unit-img img {
    margin: 0 auto;
    width: 100%;
}

.rem-feature-unit-text {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.rem-feature-units-controls {
    margin-bottom: 20px;
    font-size: 34px;
}

.rem-feature-units-controls a {
    color: #444;
}

.rem-feature-units-controls a:hover {
    color: #aa4d93
}

[data-slide="prev"]
{
    margin-right: 30px;
}

/* CARDS
   -------------------------------------------------- */
.rem-unit-card {
    margin: 15px auto;
    border-bottom: 2px solid #DCDCDC;
    max-width: 640px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.rem-unit-card a {
    cursor: pointer;
}

.rem-unit-card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-bottom: 2px solid #FFF;
}

.rem-unit-card-img-container,
.rem-unit-card-img-container img {
    max-width: 640px;
    height: 480px;
    object-fit: cover;
}

.rem-unit-card-text-container {
    background: #FFF;
    padding: 20px 40px;
    height: auto;
}

.rem-unit-card-text-container,
.rem-unit-card a {
    color: #444;
}

.rem-unit-card-price {
    font-size: 20px;
    font-family: "Open Sans SemiBold", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    margin-bottom: 20px;
}

.rem-unit-card-title {
    margin-bottom: 10px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: block;
}

.rem-unit-card-details {
    color: #777;
    margin-top: 20px;
}

.rem-unit-card-details span {
    margin-right: 20px;
    font-size: 14px;
}

.rem-unit-card-details i {
    margin-right: 4px;
    font-size: 16px;
}

.rem-unit-card-actions-favorite,
.rem-unit-card-actions-details {
    float: right;
}

.rem-unit-card a:hover,
.rem-unit-card-title:hover,
.rem-unit-card-actions-favorite:hover,
.rem-unit-card-actions-details:hover {
    color: #aa4d93;
}

.rem-unit-card-agent-container {
    position: relative;
    margin: 0;
    max-width: 640px;
    float: right;
}

.rem-unit-card-agent {
    position: absolute;
    text-align: center;
    margin: -45px 0 0 -130px;
    padding 0;
    display: block;
}

.rem-unit-card-agent-wrapper img {
    width: 70px;
    height: auto;
}

.rem-unit-card-agent-photo {
    width: 60px;
    height: 80px;
}

.rem-unit-card-agent-wrapper {
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: auto;
}

/* CONTACT FORM
   -------------------------------------------------- */
.rem-title {
    font-weight: normal;
    margin: 0 0 30px 0;
    position: relative;
    display: block;
    color: #aa4d93;
    font-size: 2em;
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}

.rem-form {
    background: #fff;
    border-top: 4px solid #aa4d93;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
}

.has-error .form-control {
    border: 2px solid #FFF !important;
    border-bottom: 2px solid #a94442 !important;
}

.has-success .form-control {
    border: 2px solid #FFF !important;
    border-bottom: 2px solid #3c763d !important;
}

#rem-hidden-form {
    display: none;
}

#unit-contact-form
{
    margin-top: -50px;
}

@media (max-width: 767px)
{
    #unit-contact-form
    {
        margin-top: 30px;
    }
}

/* UNIT
   -------------------------------------------------- */
#carousel-unit {
    max-height: 400px;
}

#carousel-unit img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.rem-unit-info-container {
    padding: 30px;
}

.rem-unit-title {
    font-size: 36px;
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}

.rem-unit-sub-title {
    font-size: 18px;
    font-family: "Open Sans SemiBold", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}

.rem-unit-description {
    font-size: 15px;
}

.rem-unit-title,
.rem-unit-sub-title,
.rem-unit-description {
    margin-top: 20px;
}

.rem-unit-contact-container #rem_form {
    margin-top: -50px;
}

.rem-unit-contact-agent-container {
    position: relative;
    margin: 0 auto 30px auto;
}

.rem-unit-contact-agent {
    text-align: center;
    padding 0;
    display: block;
}

.rem-unit-contact-agent-wrapper img {
    width: 70px;
    height: auto;
}

.rem-unit-contact-agent-photo {
    width: 60px;
    height: 80px;
}

.rem-unit-contact-agent-wrapper {
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: auto;
}

.rem-unit-price
{
    margin-top: 20px;
    font-family: "Open Sans SemiBold", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
}

@media (max-width: 767px)
{
    .rem-unit-info-container {
        text-align: center;
        margin: 0 auto;
    }

    .rem-unit-info-container,
	.rem-unit-contact-container #rem_form {
	    max-width: 600px;
	}
}

@media (max-width: 630px)
{
	.rem-unit-contact-container #rem_form {
	    margin: 30px;
	}
}

/* PAGER
   -------------------------------------------------- */
.rem-pager-container .pagination
{
    margin: 30px auto;
}


.pagination > li > a,
.pagination > li > span {
    color: #aa4d93;
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #FFF;
    background: #aa4d93;
    border-color: #aa4d93;
}

/* AUTOCOMPLETE
   -------------------------------------------------- */
.rem-autocomplete-container
{
    position: relative;
}

.rem-autocomplete
{
    background: #FFF;
    position: absolute;
    padding: 0;
    width: 100%;
    z-index: 999;
}

.rem-autocomplete li
{
    padding: 10px 20px;
    list-style-type: none;
    cursor: pointer;
}

.rem-autocomplete li:hover
{
    color: #FFF;
    background: #aa4d93;
}

.rem-autocomplete,
.rem-autocomplete li:last-child
{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* FEATURES
   -------------------------------------------------- */
.features
{
    font-size: 0.9em;
}

.features .feature-title
{
    font-size: 16px;
    font-family: "Open Sans SemiBold", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    margin-top: 30px;
}

.features label
{
    margin-right: 10px;
    font-weight: normal;
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}

.features .zmdi-check
{
    color: #029f56;
}
