body
{
    background: #fff;
    font-family: OpenSansRegular, Helvetica, Arial, sans-serif;
}

.navbar-warning
{
    background: #ce0925 !important;
}

#footer-container
{
    border-top: 2px solid #DDD;
    padding: 20px;
    margin-top: 30px;
}

.footer-social
{
    font-size: 1.4em;
    cursor: pointer;
    color: #ce0925;
}

.footer-social .fa-facebook
{
    margin-right: 20px;
}

.default-border-radius
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.default-box-radius
{
    -webkit-box-shadow: 0 8px 6px -6px #CCC;
    -moz-box-shadow: 0 8px 6px -6px #CCC;
    box-shadow: 0 8px 6px -6px #CCC;
}