#index-body-container .unit-type
{
    color: #777;
    font-family: OpenSansSemiBold, Helvetica, Arial, sans-serif;
}

#index-body-container .unit-name
{
    color: #333;
    margin-top: 4px;
}

#index-body-container .unit-price
{
    background: rgba(206, 9, 37, 0.8);
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 25px;
}

#index-body-container .unit-info
{
    margin-top: 10px;
}

#index-body-container .unit-info-container
{
    margin-right: 15px;
}

#index-body-container .unit-info-icon
{
    color: rgba(206, 9, 37, 0.8);
    font-size: 1.2em;
}

#index-body-container .unit-info-icon.mdi-maps-local-hotel
{
    font-size: 1.4em;
}

#index-body-container .unit-info-number,
#search-container label
{
    color: rgba(206, 9, 37, 0.5);
}

#search-container
{
    padding: 20px;
    font-size: 0.9em;
    border: 1px solid #DDD;
}

#search-container label
{
    display: block;
    font-weight: normal;
}

#search-container select.form-control
{
    margin-bottom: 30px;
}